body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
}

a {
    color: #4a4aff;
    text-decoration: unset;
}

footer {
    width: 100%;

    color: #f0f0f0;
    background-color: #2b2129;
}

h1  {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width{
    width: 100%;
}

.font1 {
    font-family: 'Nunito', sans-serif;
}

.font2 {
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    color: #2b2129;
    background-color: #c2956e;
}

.email-input {
    margin: 0;
    padding: 0.5rem;

    width: 15%;

    border: none;
    border-radius: 1rem;

    outline: none;

    font-size: 1.25rem;
    text-align: center;
}

.email-submit-button {
    margin: 1rem;
    padding: 0.25rem;

    width: 10%;

    border: none;
    border-radius: 1rem;

    font-size: 1.25rem;
    text-align: center;
    
    color: white;
    background-color: #708ab1
}

.button-primary {
    margin: 1rem;
    padding: 0.25rem;

    width: 10%;

    border: none;
    border-radius: 1rem;

    font-size: 1.25rem;
    text-align: center;
    
    color: white;
    background-color: #708ab1;
}

.card-inv {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    margin: 1rem;
    padding: 0.25rem;

    height: 10rem;
    width: 7rem;

    background-color: white;

    border-radius: 1rem;

    text-align: center;
}

img {
    max-height: 5rem;
    max-width: 7rem;
    height: auto;
    width: auto;
}

.text-red {
    margin: 0.1rem;
    padding: none;
    font-size: 0.85rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff4040;;
}

.nomarg {
    margin-bottom: none;
}